<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/dhearr.jpeg"
        alt="dhea ramdani"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Dhea Ramdani</h1>
      <p class="lead">I'm Web Developer | Front end Engginer</p>
    </div>
  </div>
</div>
