<h1>NodeJs Web Server</h1>
<h2>hallo <%= nama %></h2>
<h3>Daftar Mahasiswa</h3>
<% if (mahasiswa.length < 1) { %>
<p>Daftar Mahasiswa Masih Kosong!</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama : <%= mhs.nama %></li>
  <li>Email : <%= mhs.email %></li>
</ul>
<% }) %> <% } %>
